{% load static %}
<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <title></title>
</head>
<body>
  <div id="main">
    <div id="box1">
      <h1 id="maintitle">リクマネ</h1>
      <h2 id="subtitle">Recuruit<br>Management</h2>
      <div id="conpanylink">
        {% block box1 %}
        {% endblock %}
      </div>
    </div>
    <div id="box2">
      {% block box2 %}
      {% endblock %}
    </div>
    <div id="box3">
      {% block box3 %}
      {% endblock %}
  </div>

  </div>
</body>
</html>