
/* モチベーショングラフcss */
/* モチベーショングラフのタイトル */
.ogata{
    /* フォント */
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 41px;

    margin-top: 5%;
    margin-bottom: 1%;
}

/* モチベーショングラフの背景 */
.motigraph-field{
    /* 背景色変更 */
    background-color: #F0F0F0; 

    /* 角を丸くする */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    border-bottom: solid 0.5px #b4b3b3;

    padding: 5%;
}

#motivation-graph{
    font-family: Hiragino Kaku Gothic Pro;
    font-style: normal;
    font-weight: normal;
}