
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
#main{
    display: flex;
    background: linear-gradient(180deg, #3B5986 0%, rgba(113, 128, 150, 0) 100%), #111C2B;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

/* リクマネ表示に関して */
#maintitle{
    color: white;
    text-align: center;
    font-size: 60px;
    margin-left: 20px;
    margin-bottom: 0px;
}

/* RecruitManagementに関して */
#subtitle{
    color: white;
}

/*左側の固定メニュー*/
#menu{
    width: 100%;
    height: 15%;
    padding-left: 20px;
}
#menu p{
    font-family: "Hiragino Kaku Gothic ProN";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FAFAFA;
    margin: 0px 0px 15px 0px;
}
/*カレンダーアイコン*/
.calender-icon{
    color: white;
    font-size: 1.5em; /*通常の２倍の大きさ*/
    margin-right: 10px;
}
/*ビルアイコン*/
.building-icon{
    color: white;
    font-size: 1.5em; /*通常の２倍の大きさ*/
    margin-right: 17px;
}

#open{
    width: 40%;
    margin-left: 40px;
}

/* 企業ごとのリンク */
#conpanylink{
    width: 100%;
    height: 60%; 
    font-size: 24px;
    text-align: left;
    color: white;
    margin-top: 5px;
    margin-right: 30px;
    overflow: scroll;
    -ms-overflow-style: none;    /* IE, Edge スクロールバー非表示 */
    scrollbar-width: none;       /* Firefox スクロールバー非表示 */
}
#conpanylink::-webkit-scrollbar {  /* Chrome, Safari スクロールバー非表示 */
    display:none;
}

#conpanylink ul{
    margin-top: 0px;
}

#conpanylink li{
    list-style-type:none;
    padding-top: 10px;
}

/*カンパニーリンク内のアコーディオンメニュー*/
.company-acd-check{
    display: none;
}
.company-acd-label{
    color: #fff;
    display: block;
    padding: 10px;
}
.company-acd-label:hover{
    color: #F8E53D;
    background: rgba(240, 240, 240, 0.11);
    border-radius: 5px;
}
.company-content{
    background: rgba(240, 240, 240, 0.11);
    border: 1px solid transparent;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
}
.company-acd-check:checked + .company-acd-label + .company-content{
    height: 280px;
    opacity: 1;
    padding: 0px 10px 10px 10px;
    margin-bottom: 5px;
    visibility: visible;
    border-radius: 0px 0px 5px 5px;
}

.company-acd-check:checked + .company-acd-label{
    background: rgba(240, 240, 240, 0.11);
    border-radius: 5px 5px 0px 0px;
    color: #F8E53D;
}

#mypageid{
    font-size: 18px;
    margin: 0;
    display: none;
}

.company-acd-check:checked + .company-acd-label > #mypageid{
    display: block;
    color: rgba(233, 233, 233, 0.9);
}

.company-content p{
    margin-left: 40px;
    font-size: 20px;
}

/*カンパニーリンクのアコーディオンメニューに関してはここまで*/


.button button{
    font-size: 15px;
    color: white;
    background-color: #1F609C;
    font-family: Aldrich;
    border: none;
}
/* 画面の左側 */
#box1{
    /* background-color: white; */
    /* position: relative; */
    width: 20%;
    height: 100%;
}

.cursor{
    cursor: pointer;
}

/*アカウントメニュー*/
#account-menu-area{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 5%;
}

#account-menu{
    position: absolute;
    bottom: 5%;
    width: 17%;
    height: 20%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    margin-left: 40px;
    background: rgba(240, 240, 240, 0.11);
}

#account-menu h3{
    margin: 0;
    padding: 10px 5px 10px 30px;
    color: white;
}

#menu-link{
    margin-left: 60px;
}

#menu-link a{
    display: block;
}


#user-info{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5px;
    bottom: 0;
    display: flex;
}

.triple_dot{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 10%;
    color: white;
    font-size: 1.5em;
}

/*トリプルドットを押すと開くエリア*/
#detail-area{
    position: absolute;
    top: 25%;
    right: 15%;
    width: 70%;
    height: 60%;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: black;
    text-align: center;
}
/*ログアウトリンクの装飾*/
#detail-area a{
    color: black;
}
/*ユーザーアイコン表示エリア*/
#user-icon-area{
    /* width: 10px;
    height: 22px; */
    width: 20%;
    height: 100%;
    text-align: center;
}
/*ユーザーアイコン*/
.user-icon{
    color: white;
    font-size: 2em; /*通常の２倍の大きさ*/
}
/*ユーザーネーム表示に関して*/
#username{
    margin-left: 5px;
    font-size: 22px;
    color: white;
}
/*アカウント管理を表示するためのボタン*/
#edit-user-info{
    position: absolute;
    margin-right: 5px;
    right: 0;
    font-family: "Hiragino Kaku Gothic ProN";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    background-color: transparent;
    color: rgba(233, 233, 233, 0.9);
    border: none;
    outline: none;

    transform: rotate(90deg);
}
/*プロフィール編集画面*/
#profile-edit-window{
    position: absolute;
    top:10%;
    right: 5%;
    width: 75%;
    height: 80%;
    background: #FAFAFA;
    border-radius: 10px;
    z-index: 1; /*カレンダーの上に表示させるため*/
}

/*プロフィール編集画面タイトル*/
.profile-window-title{
    font-size: 5vh;
    width: 80%;
    font-family: "Hiragino Kaku Gothic Pro";
    font-style: normal;
    font-weight: normal;
    position: relative;
    margin: 0;
    left: 10%;
    top: 10%;
}

/*プロフィール編集画面閉じるボタンエリア*/
#exit-profile-window{
    position: absolute;
    top: 5%;
    right: 3%;
}
/*入力エリアの配置*/
#input-area{
    position: absolute;
    width: 50%;
    height: 30%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#input-area p{
    font-size: 3vh;
    border-bottom: 2px solid #272343;
}

#input-area input{
    position: absolute;
    right: 0;
    font-size: 3vh;
    width: 85%;
    border: none;
    background: #FAFAFA;
}
#input-area input::placeholder{
    font-size: 3vh;
}

#input-area button{
    display: block;
    width: 30%;
    height: 30%;
    font-size: 3vh;
    background: #FAFAFA;
    border: 3px solid #272343;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0 auto;
}

/* 画面の真ん中 */
#box2{
    background-color: #5F6E7C;
    width: 25%;
    height: 100%;
}

/* 画面真ん中の企業名表示 */
#box2 h1{
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin-top: 110px ;
    color: white;
    left: 376px;


}

#box2 h2{
    font-size: 10px;
    text-align: right;
    margin-right: 25px;
    clear: white;
}

#box2 ul{
    position: absolute;
    width: 270px;
    height: 346px;
    top: 212px;
}

#box2 li{
    list-style-type:none;
    text-align: left;
    color: white;
}

#box2 a{
    text-decoration: none;
    color: white;
}

/* 画面の右側 */
#box3{
    position: relative;
    /* background-color: white; */
    background-color: transparent;
    top:20%;
    left: 5%;
    width: 70%;
    height: 70%;
    box-sizing: border-box;
    /* margin-left: 100px; */
    /* margin-top: 120px; */
    /* margin-right: 54px; */
    /* padding: 20px 50px; */
    overflow: scroll;
    -ms-overflow-style: none;    /* IE, Edge スクロールバー非表示 */
    scrollbar-width: none;       /* Firefox スクロールバー非表示 */
}
#box3::-webkit-scrollbar {  /* Chrome, Safari スクロールバー非表示 */
    display:none;
}

#box3 h1{
    font-size: 38px;
}
html,body{
    height: 100%;
}

/* 選考フローの調整 */
.boldbottom{
    position: relative;
}
.boldbottom::before{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 16px;
    height: 400px;
    background: #999;
}
.boldbottom::after{
    content: "";
    display: block;
    position: absolute;
    top: 400px;
    left: 48%;
    width: 0;
    height: 0;
    border: 20px solid;
    border-color: #999 transparent transparent transparent;
}

/******************************************************************************/
/* モーダル画面の定義                                                          */
/******************************************************************************/
/* 企業新規登録のモーダル画面 */

/*ボタンを押してるっぽい動きをつける*/
.button:active{
    transform: translateY(3px);/*影の分だけ下にずらす*/
    box-shadow: 0px 0px;/*影をなくす*/
}
/*企業登録モーダル内のボタン*/
.modal_button_size{
    width: 20%; /*ボタンのサイズ指定*/
}
/*マスクを作成する*/
#mask {
    background: rgba(0,0,0,0.4);/*[POINT]背景を40％の濃さで透過する*/
    /*[POINT]画面全体を覆うようにする*/
    /*[POINT]絶対位置で指定し、上下左右0距離から描画を始めることで画面全体に適用できる*/
    position:fixed;/*絶対位置を指定*/
    top: 0;/*上に0距離から描画を始める*/
     bottom: 0;/*下に0距離から描画を始める*/
     right: 0;/*右に0距離から描画を始める*/
     left: 0;/*左に0距離から描画を始める*/
      z-index: 1;
}
/*モーダル画面*/
#modal {
    /*background: #1F609C; /*背景は白(わかりやすさのため今は白じゃない)*/
    background:#FAFAFA; /*背景は#FAFAFA*/
    border-radius: 10px;/*モーダル画面の角を丸する*/
    /* width: 966px; 横幅を指定 */
    width: 1080px; /*横幅を指定*/
    position:absolute;/*絶対位置を指定(スクロールで動く)*/
    /* top:42px;縦に40pxの位置から描画 */
    top:142px;/*縦に40pxの位置から描画*/
    /*right: 0px;*//*右に0距離から描画を始める*/
    /* height:510px;モーダル画面の縦幅を指定 */
    height:610px;/*モーダル画面の縦幅を指定*/
    left:300px;/*左に471pxの位置から描画を始める*/
    margin:0 auto; /*左右中央寄せ*/
    padding: 20px;/*内側に余白*/
    z-index: 2;
    text-align: center; /*modal内のブロック要素を中央に寄せる*/
}
/*モーダルのタイトル*/
.modal_title{
    /*タイトルの位置*/
    width: 209px;
    height: 55px;
    left: 574px;
    top: 144px;
    font-family: Hiragino Kaku Gothic ProN; /*フォントの種類*/
    color: #272343; /*タイトルの文字の色*/
    font-style: normal; /*フォントスタイルは初期値*/
    font-weight: 500; /*フォントの太さを指定*/
    font-size: 40px; /*フォントの大きさを指定*/
    line-height: 60px; /*行の高さを指定*/
}
#mask.hidden{
    display:none; /*非表示にする*/
}
#modal.hidden{
    /* transform: translate(0px,-600px);[POINT]マイナス方向に動かして画面外に飛ばしておく */
    transform: translate(0px,-800px);/*[POINT]マイナス方向に動かして画面外に飛ばしておく*/
}
/*モーダル内の項目名の配置*/
.item_name{
    position: relative;
    font-family: Hiragino Kaku Gothic ProN; /*フォントの種類*/
    color: #FAFAFA; /*文字色*/
    text-align: left; /*文字を左寄せにする*/
    padding-left: 200px; /*左側に余白を設ける*/
}
/*モーダル内の入力欄の配置*/
.modal_input{
    font-family: Hiragino Kaku Gothic ProN; /*フォントの種類*/
    font-size: 15px;
    position: absolute;
    height: 30px;
    width: 700px;
    background-color: #FAFAFA; /*入力欄の背景色*/
    color: #272343; /*入力欄の文字色*/
    right: 17%; /*配置場所の指定*/
    border-color: #272343; /*テキストフィールドの枠線の色*/
    border-width: 0px 0px 2px 0px; /*テキストフィールドの枠線を下線のみにする*/
}
/*入力欄に初期表示する文字に関して*/
input::placeholder {
    font-family: Hiragino Kaku Gothic ProN; /*フォントの種類*/
    color: #272343; /*文字色の指定*/
    font-size: 15px;
}
input:focus{
    outline: none; /*テキストボックスフォーカス時の枠線を非表示*/
}
/*モーダル内の閉じるボタン領域*/
#close{
    position: absolute;
    right: 5%;
}
/*モーダル内の☓ボタンに関する装飾*/
.batsu_button{
    background-color: transparent; /*背景無色*/
    border: none; /*枠線消去*/
    outline: none; /*ボタン押したときの枠線消去*/ 
    font-family: "Droid Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
}
/*志望度に関して*/
.shiboudo_checkbox{
 box-sizing: border-box;
 display: -ms-flex;
 display: -webkit-flex;
 display: -moz-flex;
 display: -o-flex;
 display: flex;
 flex-direction: -ms-row-reverse;
 flex-direction: -webkit-row-reverse;
 flex-direction: -moz-row-reverse;
 flex-direction: -o-row-reverse;
 flex-direction: row-reverse;
justify-content: -ms-right;
justify-content: -webkit-right;
justify-content: -moz-right;
justify-content: -o-right;
justify-content: right;
/* justify-content: center; */
width: 600px;
}
/* .hoshi1{
    text-align: center;
} */
/*「志望度」の表示について*/
.shiboudo{
    display: flex;
    justify-content: center;
}
.shiboudo_name{
    /*position: left;*/
    /*margin: 0px 30px 0px 0px;*/
    font-family: Hiragino Kaku Gothic ProN; /*フォントの種類*/
    font-size: 15px;
    color: #272343; /*文字色*/
    text-align: left; /*文字を左寄せにする*/
    /*padding-right: 390px;*/ /*右側に余白を設ける*/
    padding: 0px 25px 0px 30px;
    height: 30px;
}
/* .shiboudo_checkbox input[type=‘radio’]{ */
  /* display: none; */
/* } */
/* .shiboudo_checkbox input[type=‘radio’]{ */
  /* display: none; */
/* } */
.shiboudo_checkbox input{
  display: none;
}
/**志望度の星のデザイン*/
.shiboudo_checkbox label{
  position: relative;
  padding: 0px 50px 0px 0px;
  display: inline-block;
  color: #FAFAFA;
  text-shadow:
    0.6px  0.6px 0.6px #272343,
   -0.6px  0.6px 0.6px #272343,
    0.6px -0.6px 0.6px #272343,
   -0.6px -0.6px 0.6px #272343,
    0.6px  0.6px 0.6px #272343,
    0.6px  0.6px 0.6px #272343,
   -0.6px  0.6px 0.6px #272343,
    0.6px -0.6px 0.6px #272343;
  cursor: pointer;
  font-size: 30px;
}
.shiboudo_checkbox label:hover,
.shiboudo_checkbox label:hover ~ label,
/*星をクリックしたとき*/
/* .shiboudo_checkbox input[type=‘radio’]:checked ~ label{ */
.shiboudo_checkbox input:checked ~ label{
  color: #F8E53D;/*黄色の色*/
}
/*「登録」ボタンについて*/
.modal_button_size{
  position: absolute;
  top: 85%;
  left: 40%;
　display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #FAFAFA;/*ボタン色*/
  color: #272343;
  border: 3px solid #272343;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  /*border-bottom: solid 4px #627295;
  border-radius: 3px;*/
}

/* 予定登録のモーダル画面 */
/*マスクを作成する*/
#mask_event {
    background: rgba(0,0,0,0.4);/*[POINT]背景を40％の濃さで透過する*/
    /*[POINT]画面全体を覆うようにする*/
    /*[POINT]絶対位置で指定し、上下左右0距離から描画を始めることで画面全体に適用できる*/
    position:fixed;/*絶対位置を指定*/
    top: 0;/*上に0距離から描画を始める*/
     bottom: 0;/*下に0距離から描画を始める*/
     right: 0;/*右に0距離から描画を始める*/
     left: 0;/*左に0距離から描画を始める*/
      z-index: 1;
}

/*モーダル画面*/
#modal_event {
    /*background: #1F609C;/*背景は白(わかりやすさのため今は白じゃない)*/
    background:white;/*背景は白(わかりやすさのため今は白じゃない)*/
    border-radius: 10px;/*モーダル画面の角を丸する*/
    width: 600px; /*横幅を指定*/
    position:absolute;/*絶対位置を指定(スクロールで動く)*/
    top:100px;/*縦に40pxの位置から描画*/
     right: 0px;/*右に0距離から描画を始める*/
     left:0px;/*左に0距離から描画を始める*/
     margin:0 auto; /*左右中央寄せ*/
     padding: 20px;/*内側に余白*/
     z-index: 2;
    text-align: center;
    font-size: 24px; /*モーダル内の文字サイズを指定　企業登録モーダルと同じに設定*/
}

#mask_event.hidden_event{
    display:none; /*非表示にする*/
}
#modal_event.hidden_event{
    transform: translate(0px,-500px);/*[POINT]マイナス方向に動かして画面外に飛ばしておく*/
}


/* リンクに色づけと下線をなしにしている（企業名選択をaタグにしているため） */
a{
    color: white;
    text-decoration: none;
}

a:hover{
    /* color: #1DFF5C; */
    color: rgba(248, 229, 61, 0.9);
}

/******************************************************************************/
/* 企業内データ                                                                 */
/******************************************************************************/

#ES, #flow, #event, #memo, #editor{
    background-color: white;
    border-radius: 5px;
}