/* モーダルCSS */
#modalArea{
    display: none;
    position: fixed;
    /* position: fixed; */
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* background-color: rgba(0,0,0,0.5); */
}

#e_mask{
    background-color: white;
    width: 500px;
    margin: 40% auto;
}

#e_modal{
    position: absolute;
    top: 50%;
    left: 62%;
    transform:translate(-50%,-50%);
    width: 1000px;
    height: 720px;
    /* max-width: 500px; */
    padding: 10px 30px;
    background-color:#FAFAFA;

        /* 角を丸くする */
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
}
  
#close_modal{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;

    margin-top: 2%;
    margin-right:4%;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 53px;
    text-align: center;

    color: #272343;
}


/* モーダル画面のタイトル */
.e_title{
    font-family: Hiragino Kaku Gothic Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;

    color: #272343;

    margin-top: 9%;
    margin-left: 9%;
}

/* イベント追加モーダル画面に表示される追加ボタン */
.genosono{

    /* ボタンの大きさ */
    padding: 1.5% 10%; 

    margin-left:35%;
    margin-top: 10%;

    /* 背景を透明にする */
    background-color: Transparent;

    /* 角を丸くする */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* figmaからなんかとってきた */
    background: #FAFAFA;
    border: 3px solid #272343;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    /* フォントのあれこれ */
    font-family: Quattrocento Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 33px;
    color: #272343;
}
.osono_group{
    text-align: center;
}
.modal_input_starttime{
    margin: 10px 0px 20px 0px;
    font-family: Hiragino Kaku Gothic ProN; /*フォントの種類*/
    font-size: 15px;
    position: absolute;
    height: 30px;
    width: 700px;
    background-color: #CACACA; /*入力欄の背景色*/
    color: #272343; /*入力欄の文字色*/
    right: 17%; /*配置場所の指定*/
    /*border-color: #272343;*/ /*テキストフィールドの枠線の色*/
    border-width: 0px 0px 0px 0px; /*テキストフィールドの枠線を下線のみにする*/
    border-radius: 5px;
    z-index: 1;
}
.starttime_title{
    font-family: Hiragino Kaku Gothic ProN; /*フォントの種類*/
    font-size: 15px;
    color: #272343;
    z-index: 2;
}
.modal_input_endtime{
    margin: 20px 0px 20px 0px;
    font-family: Hiragino Kaku Gothic ProN; /*フォントの種類*/
    font-size: 15px;
    position: absolute;
    height: 30px;
    width: 700px;
    background-color: #CACACA; /*入力欄の背景色*/
    color: #272343; /*入力欄の文字色*/
    right: 17%; /*配置場所の指定*/
    /*border-color: #272343;*/ /*テキストフィールドの枠線の色*/
    border-width: 0px 0px 0px 0px; /*テキストフィールドの枠線を下線のみにする*/
    border-radius: 5px;
}
.modal_input_detail{
    margin: 30px 0px 10px 0px;
    font-family: Hiragino Kaku Gothic ProN; /*フォントの種類*/
    font-size: 15px;
    position: absolute;
    height: 30px;
    width: 700px;
    background-color: #FAFAFA; /*入力欄の背景色*/
    color: #272343; /*入力欄の文字色*/
    right: 17%; /*配置場所の指定*/
    border-color: #272343; /*テキストフィールドの枠線の色*/
    border-width: 0px 0px 2px 0px; /*テキストフィールドの枠線を下線のみにする*/
}
.addflow{
    font-family: Hiragino Kaku Gothic ProN; /*フォントの種類*/
    color: #272343;
    margin: 60px 0px 0px 0px;
}



/* ESとかのタイトルのとこ */
.ogata{
    /* リストの"・"を消す */
    list-style: none;

    /* フォント */
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 41px;

    margin-top: 5%;

  }


#toolbar_es{
    /* 背景色変更 */
    background-color: #F0F0F0; 

    /* 角を丸くする */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    border-bottom: solid 0.5px #b4b3b3
}
#toolbar_memo{
    /* 背景色変更 */
    background-color: #F0F0F0; 

    /* 角を丸くする */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    border-bottom: solid 0.5px #b4b3b3
    
}


/* ESやメモの本文書くところの文字の大きさとかを変更するプルダウンメニュー */
.select{
  font-family: Helvetica;
  color: #272343;
}

.pull_down_menu {
    width: 15%;
    position: relative;
    display: inline-block;
}
.pull_down_menu::after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-bottom: solid 2px #b4b3b3;
  border-right: solid 2px #b4b3b3;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
}

.select {
  font-family: Helvetica ;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 40px;
  background: transparent;
  position: relative;
  z-index: 1;
  padding: 0 40px 0 10px;
  border: 1px solid #b4b3b3;
  border-radius: 2px;
}

select::-ms-expand {
  display: none;
}

.select{
  margin: 5% 10%;
  /* margin-bottom: 5%; */
}

/* 太字にするアイコンのとこ */
.intLink{
  float: left;
  width: 4%;
  height: 4%;
  /* padding-bottom: 2%; */
  margin-top: 1%;
  margin-left: 2%;
}




/* ESの本文をかくところ */
#es_textBox{
    /* 文字色の変更 */
    color: #272343;

    /* ボックス内の余白の調整 */
    padding: 1% 2%;

    /* 背景色の変更 */
    background-color: #F0F0F0;

    /* 角を丸くする */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /* border-radius: 5px;   */
}


/* メモの本文を書くところ */
#memo_textBox{
    /* 文字色の変更 */
    color: 272343;

    /* ボックス内の余白の調整 */
    padding: 1% 2%;

    /* 背景色の変更 */
    background-color: #E8E8E8;

    /* 角を丸くする */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;  
}

/* 編集画面のcss */
.kodaimurakami{ 
    /* margin-left: 70%; */
    margin-bottom: 1%;
    width: 51px;
    height: 29px;
    /* left: 1000px;
    top: 117px; */
    float: right;
    margin-top: 1%;
    margin-right: 2%;

    /* 文字の色を白色にする */
    color: #FFFFFF;

    /* 背景を透明にする */
    background-color: Transparent;

    /* 角を丸くする */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* figmaからなんかとってきた */
    border: 2px solid #FAFAFA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
}

button.kodaimurakami:hover{
  /* ホバーしたときに透明度を20%に指定 */
  opacity: 0.8;   
}


/* 選考フロー */
#flow_box{
    background-color: #B9C1D6;
    /* 角を丸くする */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#evnet_1{
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    /* background-color: cyan; */
}

#evnet_1_detail{
    margin-left: 12%;

    color: #FFFFFF;
    background-color: #2D334A;

    width: 35%;

    /* 角を丸くする */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

/* イベント次のところ */
#evnet_1_detail_now{
    margin-left: 12%;

    color: #FFFFFF;
    background-color: #2D334A;
    border: 4px solid rgba(248, 229, 61, 0.9);


    width: 35%;

    /* 角を丸くする */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#evnet_1_detail_title{
    margin-top:0;
    margin-bottom: 2%;

    padding-top:5%;
    /* フォントのあれこれ */
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

#evnet_1_detail_address{
    margin-top:0;
    margin-bottom: 1%;

    /* フォントのあれこれ */
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

#evnet_1_detail_zoom{
    margin-top:0;
    /* padding-bottom: 5%; */

    /* フォントのあれこれ */
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

#evnet_1_detail_date{
    margin-left: 10%;
    /* background-color: blueviolet; */

    /* フォントのあれこれ */
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;

    color: #FFFFFF;

    /* 文字の縁取りをつけるやつ */
    text-shadow:0 0 2px #272343,0 0 2px #272343,0 0 2px #272343,0 0 2px #272343,0 0 2px #272343,0 0 2px #272343,0 0 2px #272343,0 0 2px #272343,0 0 2px #272343,0 0 2px #272343,0 0 2px #272343,0 0 2px #272343,0 0 2px #272343,0 0 2px #272343,0 0 2px #272343,0 0 2px #272343;
    
}

/* 選考フローの三角作るやつ */
.triangle{

    position: absolute;
    /* display: inline-block; */
    margin-top:13%;
    margin-left: 25.5%;

    /* 三角の色とか */
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #272343;
}

/* 黄色の三角 */
.triangle_done{

    position: absolute;
    /* display: inline-block; */
    margin-top:13%;
    margin-left: 25.5%;

    /* 三角の色とか */
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #F8E53D;
}

/* イベント */
.event_1_box_class_checked{
    /* background-color: cyan; */

    /* クリックされたら打ち消し線 */
    text-decoration: line-through;
    color:#272343;
}


/* 元々のチェックボックス（非表示） */
.event_title input[type="checkbox"]{
    display: none;
}
/* チェックボックスの代わりを成すラベル */
.event_title input[type="checkbox"]{
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
}
/* ラベルの左に表示させる正方形のボックス□ */
.event_title input[type="checkbox"]::before{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    left: 0;
    top: 50%;
    border: 1px solid;
    border-color:  #585753;
    background-color: #FFF;

     /* 角を丸くする */
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border-radius: 5px; 

}
/* チェックが入った時のレ点 */
.event_title input[type="checkbox"]:checked::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 9px;
    margin-top: -9px;
    top: 50%;
    left: 3px;
    transform: rotate(-45deg);
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color:  #585753; 
}




#event_box{
    padding-top: 5%;
    padding-left: 7%;
    padding-bottom: 3%;

    background-color: #E3EBF6;

    /* 角を丸くする */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.event_top_con{
    display: flex;
}

.event_title{
    font-family: Hiragino Kaku Gothic Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #272343;
    width: 50%;
    margin-right: 50%;

    margin-bottom: 1%;
}


#event_date{
    font-family: DIN Alternate;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: rgba(39, 35, 67, 0.8);

    list-style: none;
    /* float: right; */
    padding-right: 2%;
    padding-top: 1%;

}

.edit_menu{
    position: absolute;
    right: 6%;
    margin-top: 35px;
    width: 161px;
    height: 82px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
}

.edit_menu p{
    margin-top: 10px;
    margin-bottom: 10px;
}

#event_edit_menu{
    /* padding-right: 6%; */
    margin-right: 5%;
    padding-top: 1.5%;
    text-align: center;
}

.askDeleteWindow{
    position: fixed;
    width: 587px;
    height: 346px;
    top: 26%;
    left: 32%;
    background: #FAFAFA;
    border-radius: 10px;
}

.askDeleteAreaButton{
    display: flex;
}

/* googleカレンダーのアイコンの位置とか */
.googlecalendar{
    padding-right: 2%;
    padding-bottom: 1.5%;
}
/*------イベント削除画面のデザイン-------*/
.askDeleteWindow{
  /*border: solid 1px #FAFAFA;*/
  outline: solid 3px #272343;
  outline-offset: -3em;
}
/*『〜を削除しますか？」のデザイン*/
#confirm_delete_eventName{
    font-family: Hiragino Kaku Gothic Pro;
    color: #272343;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 90px 0px 20px 0px;
}
/*「復元できません」のデザイン*/
#warning_sentence_event{
    font-family: Hiragino Kaku Gothic Pro;
    color: #272343;
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
}
/*ここから「戻る」「削除」ボタンデザイン*/
.askDeleteAreaButton{
    width: 50%;
    margin: 0% 20% 0% 29%;
}
/*「戻る」ボタンデザイン*/
#return_button_event{
    display: inline-block;
    font-family: Hiragino Kaku Gothic Pro;
    color: #3B5986;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 5% 10% 5% 20%;
}
/*#return_button_event {
  margin-top: 24px;
  margin-left: 16px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  line-heigt: 1.2em;
  -webkit-transition: .8s;
  transition: .8s;
}*/

/*カーソルを合わせた時に下線を出す*/
/*#return_button_event:hover {
  cursor: pointer;
  text-decoration: none;
}

#return_button_event::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #e41313;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
#return_button_event:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}*/
/*「削除」ボタンデザイン*/
#delete_button_event{
    font-family: Hiragino Kaku Gothic Pro;
    color: #EF4565;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 5% 20% 5% 10%;
}

/* googleカレンダーのアイコンをホバーして吹き出し出るとこ */
/* .googlefukidashi {
    display: none;
    width: 190px;
    top: 0;
    left: 190px;
    padding: 5px;
    border-radius: 5px;
    background: #33cc99;
    color: #fff;
  }
  .googlefukidashi:after {
    width: 0;
    height: 0;
    left: 0;
    bottom: -19px;
    margin-left: 10px;
    border: solid transparent;
    border-color: rgba(51, 204, 153, 0);
    border-top-color: #33cc99;
    border-width: 10px;
    pointer-events: none;
    content: " ";
  }

.googlecalendar:hover + .googlefukidashi {
    display: block;
} */





#detail{
    font-family: Hiragino Kaku Gothic Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color:rgba(39, 35, 67, 0.8);
    margin-bottom: 4%;

    list-style: none;
}

#location{
    list-style: none;
    margin-bottom: 1%;
    color:rgba(39, 35, 67, 0.8);
}


