/* モーダルCSS */
#modalArea{
    display: none;
    position: fixed;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

#e_mask{
    background-color: white;
    width: 500px;
    margin: 40% auto;
}

#e_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 200px;
    max-width: 500px;
    padding: 10px 30px;
    background-color: rgb(16, 14, 114);
}
  
#close_modal{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}