#main{
    display: flex;
    height: 100%;
}

/* リクマネ表示に関して */
#maintitle{
    color: white;
    text-align: right;
    font-size: 60px;
}

/* RecruitManagementに関して */
#subtitle{
    color: white;
}

/* 企業ごとのリンク */
#conpanylink{
    text-align: right;
}

/* 画面の左側 */
#box1{
    background-color: #1F609C;
    width: 25%;
    height: 100%;
}

/* 画面の真ん中 */
#box2{
    background-color: #5F6E7C;
    width: 25%;
    height: 100%;
}

/* 画面真ん中の企業名表示 */
#box2 h1{
    font-size: 60px;
    text-align: center;
    color: white;
}

/* 画面の右側 */
#box3{
    background-color: white;
    width: 50%;
    height: 100%;
}

html,body{
    height: 100%;
}