
/* トップ画面のデザイン */
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
body {
    background: linear-gradient(180deg, #C7EFEF 13.43%, rgba(255, 255, 255, 0) 100%), #68A8B6;
}

/* div box styling */
.container {
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
}
/*ログイン画面中央配置の背景*/
.welcome {
    position: absolute;
    background: #FFFFFE;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}

.movebox {
    position: absolute;
    top: -10%;
    left: 3%;
    width: 50%;
    height: 120%;
    background: linear-gradient(180deg, #4E5B70 0%, #0F1928 99.99%, rgba(255, 255, 255, 0) 100%), #3B5986;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0,0,0,.1);
    transition: all .5s ease-in-out;
    z-index: 2;
}

.nodisplay {
    display:none;
    transition: all .5s ease;
}

.leftbox, .rightbox {
    position: absolute;
    width: 50%;
    height: 100%;
    transition: 1s all ease;
}

.leftbox {
    left: 0%;
}
.rightbox {
    right: 0%;
}

.setrelative{
    position: relative;
    width: 100%;
    height: 100%;
}

.leftbox .wrapper{
    position: absolute;
    top: 70%;
    left: 30%;
}

.rightbox .wrapper{
    position: absolute;
    top: 68%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 60%;
}

/* font & button styling */
h1 {
    font-family: 'Anaheim', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 15%;
    text-transform: uppercase;
    color: #f6f6f6;
    letter-spacing: 8px;
    font-size: 64px;
    line-height: 82px;
}

.title {
    font-family: 'Anaheim', sans-serif;
    color: #8E9AAF;
    font-size: 1.8em;
    line-height: 1.1em;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 300;
    margin-top: 20%;
}
p {
    font-family: 'Anaheim', sans-serif;
    font-size: .7em;
    letter-spacing: 2px;
    color: #8E9AAF;
    text-align: center;
}

span {
    color: #EAC7CC;
}

.logo {
    position: absolute;
    top: 40%;
    left: 10%;
}
.account {
    margin-top: 10%;
    font-family: 'Hiragino Kaku Gothic ProN';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.smaller {
    top: 48%;
    left: 10%;
    opacity: .9;
}

.button {
    padding: 12px;
    font-family: 'Anaheim', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 3px;
    margin: auto;
    outline: none;
    display: block;
    margin-top: 3%;

    background: #FAFAFA;
    border: 3px solid #272343;
    box-sizing: border-box;
    border-radius: 10px;

}

.googlebtn{
    position: absolute;
    bottom: 10%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding-top: 10px;
    appearance: none;
    font-family: 'Hiragino Kaku Gothic ProN';
    font-style: normal;
    font-weight: normal;
    color: #FFFFFE;
}

/*ホバーした際のボタンの色変えはコメントアウトしてますので必要だと感じたら好きにいじってくださいbyおがた*/
/* .button:hover {
    background: #EAC7CC;
    color: #f6f6f6;
    transition: background-color 1s ease-out;
} */


.movebox form .button{
    background: rgba(196, 196, 196, 0.1);
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;

    font-family: 'Anaheim', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
}

/* form styling */

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7px;
}
.more-padding{
    padding-top: 35px;
}
.more-padding input {
    padding: 12px;
}
/* .more-padding .submit {
    margin-top: 45px;
} */
.submit {
    position: absolute;
    bottom: 15%;
    margin-top: 25px;
    padding: 12px;
    padding-left: 15%;
    padding-right: 15%;
    border-color: darken(#EAC7CC, 20%);
}

.submit:hover {
    background: #CBC0D3;
    border-color: darken(#CBC0D3, 5%);
}

input {
    font-family: 'Anaheim', sans-serif;
    background-color: transparent;
    width: 65%;
    color: #FFFFFE;
    border: none;
    border-bottom: 1px solid #FFFFFE;
    padding: 9px;
    margin: 7px;
}
input::placeholder {
    font-family: 'Anaheim', sans-serif;
    color: #FFFFFE;
    /* letter-spacing: 2px; */
    font-style: normal;
    font-weight: normal;

    font-size: 14px;
    line-height: 18px;
}
/*フォーカスがいった時にサイズが大きくなります。不要なら消してくださいbyおがた*/
input:focus {
    color: darken(#EAC7CC, 20%);
    outline: none;
    border-bottom: 1.2px solid rgba(darken(#EAC7CC, 20%), 0.7);
    font-size: 28px;
    transition: .5s all ease;
}
input:focus::placeholder {
    opacity: 0;
}

label {
    font-family: 'Anaheim', sans-serif;
    color: darken(#EAC7CC, 20%);
    font-size: 0.8em;
    letter-spacing: 1px;
}

.support{
    text-decoration: none;
    color: #FFFFFE;
    padding-top: 10px;
    font-family: 'Hiragino Kaku Gothic ProN';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}