<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <title>リクマネ 就活タスク管理</title>
</head>
<body>
    <form action="" method="get">
        <p>イベント名<input type="text" name="name" size="30" maxlength="20"></p>
        <p>イベント開始日時<input type="datetime-local" name="start_time" min="2020-01-01T00:00" max="2022-01-01T00:00"></p>
        <p>イベント終了日時<input type="datetime-local" name="end_time" min="2020-01-01T00:00" max="2022-01-01T00:00"></p>
        <input type="submit" value="追加">
    </form>
    <button onclick="location.href={% url 'rikumane_app:ivents' %}">イベント詳細に戻る</button>
    {% if title %}
        <p>{{ title }}</p>
        <p>{{ start_time }}</p>
        <p>{{ end_time }}</p>
        <p>以上の予定がgoogle calendarに追加されました</p>
    {% endif %}
 </body>
 </html>