
{% load static %}

<!DOCTYPE html>
<html>
<head lang="ja">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <meta charset="UTF-8">
  <title>リクマネ 就活タスク管理</title>
</head>
<body>
  <div id="main">
    <div id="box1">
      <h1 id="maintitle">リクマネ</h1>
      <!--<h2 id="subtitle">Recuruit<br>Management</h2>-->
      <div id="conpanylink">
        <ul>
          <li>
            {% block box1 %}
            {% endblock %}
          </li>
      </ul>
      </div>
    </div>
    <div id="box2">
      <h1>
        {% block box2 %}
        {% endblock %}
      </h1>
      <ul>
        <div id="mypage_id"></div>
        <li><a href="{% block box3 %}{% endblock %}" onclick="copyToClipboard()" target="_blank">マイページ</a></li><br>
        <li>ES</li><br>
        <li><a href="{% url  'rikumane_app:ivents' %}?id={{ID0}}">イベント</a></li><br>
      </ul>
     
    </div>
    <div id="box3">
      {% block box4 %}
      {% endblock %}
  </div>

  </div>
</body>
<script id="test" type="rikumane_app/json">{"con":"{{ID0}}"}</script>
<script src="{% static 'js/clipbord.js' %}"></script>
</html>