<!--
スーパークラス用のhtmlテンプレート
左側のメインメニューを引き継ぐ
  -->
{% load static %}

<!DOCTYPE html>
<html>
<head lang="ja">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <meta charset="UTF-8">
  <title>リクマネ 就活タスク管理</title>
</head>
<body>
  <div id="main">
   {% block box1 %}
    <div id="box1">
      <h1 id="maintitle"><a href="{% url 'rikumane_app:index' %}">リクマネ</a></h1>
      <!--<h2 id="subtitle">Recuruit<br>Management</h2>-->
      <div id="conpanylink">
        <ul>
          <li>
           <!-- モーダル画面を開くボタン -->
            <div id="open" class="button">
              <button>企業新規登録</button>
            </div>
            <!-- グレーの透過マスク -->
            <div id="mask" class="hidden"></div>
            <!-- モーダル画面 -->
            <div id="modal" class="hidden">
              <form action="{% url  'rikumane_app:index' %}" method="get">
                <p class="item_name">企業名：<input class="modal_input" type="text" name="company" size="35" placeholder="企業名を入力してください"></p>
                <p class="item_name">マイページID：<input class="modal_input" type="text" name="id" size="35" placeholder="マイページIDを入力してください"></p>
                <p class="item_name">ログインURL：<input class="modal_input" type="text" name="url" size="35" placeholder="マイページのURLを入力してください"></p>
                <input type="submit" value="新規登録">
              </form>
              <!-- モーダル画面を閉じるボタン -->
              <div id="close" class="button">
                <button>画面を閉じる</button>
              </div>
            </div>
            {% for one in data%}
              <p><a href="{% url 'rikumane_app:detail' %}?id={{one.unique_id}}">{{ one.info.Company }}</a></p>
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
   {% endblock %}
   <!-- メインメニューより右側 -->
   {% block box2 %}
   {% endblock %}
   <!--ここまで-->
</body>
<!--JS読み込み用-->
{% block script %}
{% endblock %}
<script src="{% static 'js/user_define.js' %}"></script>
</html>