{% extends 'base.html' %}
{% block content %}
    <div id="account_body">
                <form action="" method="post">
                {% csrf_token %}
                  <p>自己分析</p>
                  <textarea name="self_analysis">{{common.MemoAnalysis}}</textarea>
  
                  <p>共通ES</p>
                  <textarea name="entrysheet">{{common.MemoES}}</textarea>
  
                  <p>MEMO</p>
                  <textarea name="memo">{{common.Memo}}</textarea>
                  <input type="hidden" name="action" value="update_account">
                  <input type="submit" value="アカウント情報更新">
                </form>
    </div>
{% endblock %}