
<!-- base.htmlと同じ（スーパークラスを仕様しないため）-->
{% extends 'base.html' %}
{% load static %}

{% block company_edit %}
<!DOCTYPE html>
<html>
<head lang="ja">
    <!-- <script src="{% static 'js/user_define.js' %}"></script> -->
    <!-- <script src="{% static 'js/event.js' %}"></script> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
</head>
    <p>企業編集</p>
    <form action="" method="post">
        {% csrf_token %}
            <p>企業名<input type="text" name="CompanyName" size="35" placeholder="企業名を入力してください" value={{one.CompanyName}}></p>
            <p>マイページID<input type="text" name="LoginId" size="35" placeholder="マイページIDを入力してください" value={{one.LoginId}}></p>
            <p>ログインURL<input type="text" name="URL" size="35" placeholder="マイページのURLを入力してください" value={{one.URL}}></p>
            <p>カテゴリ<input type="text" name="category" size="35" placeholder="例：SIer 金融" value={{one.Category}}></p>
            <input type="radio" name="want" value=1>1
            <input type="radio" name="want" value=2>2
            <input type="radio" name="want" value=3>3
            <input type="radio" name="want" value=4>4
            <input type="radio" name="want" value=5>5
            <input type="hidden" name="action" value="edit-company">
            <input type="hidden" name="id" value={{one.id}}>
            <input class="modal_button_size" type="submit" value="企業編集">
    </form>
    
    <form action="" method="post">
        {% csrf_token %}
            <input type="hidden" name="action" value="delete-company">
            <input type="hidden" name="id" value={{one.id}}>
            <input type="submit" value="企業削除">
    </form>
{% endblock %}

{% block box2%}
    <ul id="company-menu">
        <li onclick="aiueo();">マイページ</li>
        <li>ES</li>
        <li>選考フロー</li>
        <li>イベント</li>
        <li>MEMO</li>
    </ul>
{% endblock %}

{% block box3%}
    <form id="company_info" method="post" name="com_info_form">
        <input type="hidden" id="value_es" name="ES" value="">
        <input type="hidden" id="value_memo" name="memo" value="">
        {% csrf_token %}
        <ul id="company-con">
            <li>ES<button id="es_edit" onclick="editTextArea('es_edit','toolbar_es','es_textBox');" type="button">編集</button><br>
            <div id="toolbar_es" style="background-color:#FFFFFF;">
                
            </div>
            <div style="background-color:#FFFFFF;" id="es_textBox" contenteditable="false">
            {% autoescape off %}
                {{company.ES| safe}}
            {% endautoescape %}
            </div>
            </li>
            <li>選考フロー<br>
                <textarea name="flow"></textarea>
            </li>
            <!-- モーダル画面を開くボタン -->
            <div id="open" class="e_button">
                イベント<button id="open_btn">追加</button>
            </div>
            <section id="modalArea" class="modalArea">
                <!-- グレーの透過マスク -->
                <div id="e_mask" class="hidden"></div>
                <!-- モーダル画面 -->
                <div id="e_modal" class="hidden"></div>
                    <p class="e_title">イベント登録</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <p class="event_name">イベント名<input class="modal_input" type="text" name="EventName" size="35" placeholder="イベント名"></p>
                        <p class="event_place">住所<input class="modal_input" type="text" name="EventPlace" size="100" placeholder="住所"></p>
                        <p class="start_time">開始日時<input class="modal_input" type="datetime-local" name="StartTime" min="2020-01-01T00:00" max="2050-12-31T23:59"></p>
                        <p class="end_time">終了日時<input class="modal_input" type="datetime-local" name="EndTime" min="2020-01-01T00:00" max="2050-12-31T23:59"></p>
                        <p class="event_remarks">詳細<input class="modal_input" type="text" name="EventRemarks" size="1000" placeholder="詳細"></p>
                        <p class="addflow">選考フローにも追加する<input type="checkbox" name="Addflow" value="フロー">
                        <br>
                        <!-- <input type="hidden" name="action" value="add_event"> -->
                        <input type="submit" value="追加">
                    </form>
                    <!-- モーダル画面を閉じるボタン -->
                    <div id="close" class="button">×閉じる</div>
                </div>
                <!-- {% for post in posts %}
                <p>イベント名：{{ post.EventName }}</p>
                <p>開始日時：{{ post.StartTime }}</p>
                <p>終了日時：{{ post.EndTime }}</p>
                <hr>
                {% endfor %} -->
            </section>
            <li>メモ<button id="memo_edit" onclick="editTextArea('memo_edit','toolbar_memo','memo_textBox');" type="button">編集</button><br>
                <div id="toolbar_memo" style="background-color:#FFFFFF;"></div>
                <div style="background-color:#FFFFFF;" id="memo_textBox" contenteditable="false">
                {% autoescape off %}
                    {{company.Memo}}
                {% endautoescape %}
                </div>
            </li>
        </ul>
        <input type="hidden" name="action" value="update-company-data">
        <input type="hidden" name="com_id" value={{company.id}}>
    </form>
<script src="{% static 'js/event.js' %}"></script>
{% endblock %}
<script src="{% static 'js/user_define.js' %}"></script>


</html>