{% extends 'base.html' %}
{% load static %}
    <!-- メインメニューより右部分-->
    {% block box2 %}
        <!-- 小メニュー灰色部分（詳細ページ）-->
        <div id="box2">
            <ul>
              <div id="mypage_id"></div>
              <li><a href="{{company.URL}}" onclick="copyToClipboard()" target="_blank">マイページ</a></li><br>
              <li>ES</li><br>
              <li><a href="{% url  'rikumane_app:ivents' %}?id={{company.unique_id}}">イベント</a></li><br>
            </ul>
        </div>
        <!-- ここまで -->

        <!-- 白部分（個別情報）-->
        <div id="box3">
            <!-- カレンダー予定追加フォーム-->
            <!-- モーダル画面を開くボタン -->
            <div id="open_event" class="button_event">
                <button>イベント登録</button>
            </div>
            <!-- グレーの透過マスク -->
            <div id="mask_event" class="hidden_event"></div>
            <!-- モーダル画面 -->
            <div id="modal_event" class="hidden_event">
                <p class="modal_title">イベント情報の入力</p>
                <form action="{% url 'rikumane_app:ivents'%}" method="get">
                    <input type="hidden" name="id" value={{company.unique_id}}>
                    <p class="item_name">イベント名<input class="modal_input" type="text" name="name" size="30" maxlength="20" placeholder="イベント名を入力してください"></p>
                    <p class="item_name">イベント開始日時<input class="modal_input" type="datetime-local" name="start_time" min="2020-01-01T00:00" max="2022-01-01T00:00"></p>
                    <p class="item_name">イベント終了日時<input class="modal_input" type="datetime-local" name="end_time" min="2020-01-01T00:00" max="2022-01-01T00:00"></p>
                    <input class="modal_button_size" type="submit" value="追加">
                </form>
                <!-- モーダル画面を閉じるボタン -->
                <div id="close_event" class="button_event">
                    <button class="modal_button_size">画面を閉じる</button>
                </div>
            </div>

            {% if title %}
                <p>{{ title }}</p>
                <p>{{ start_time }}</p>
                <p>{{ end_time }}</p>
                <p>以上の予定がgoogle calendarに追加されました</p>
            {% endif %}
            <!-- ここまで-->

            <!--企業別イベント表示-->
            {% for one in company.info.Events%}
                <p>イベント名：{{ one.event_name }}</p>
                <p>イベント開始時間：{{ one.event_start}}</p>
                <p>イベント終了時間：{{ one.event_end}}</p>
            {% endfor %}
        </div>
        <!--ここまで box3-->
    {% endblock %}
    <!-- block終了-->
{% block script %}
    <script id="test" type="rikumane_app/json">{"con":"{{company.id}}"}</script>
{% endblock %}