
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head lang="ja">

</head>
{% block content %}
{% endblock %}
{% block box3%}

  <div id="account_body">
    <form action="{% url 'rikumane_app:profile'%}" method="post">
      {% csrf_token %}
      <p>自己分析</p>
      <textarea name="self_analysis">{{common.MemoAnalysis}}</textarea>

      <p>共通ES</p>
      <textarea name="entrysheet">{{common.MemoES}}</textarea>

      <p>MEMO</p>
      <textarea name="memo">{{common.Memo}}</textarea>
      <input type="submit" value="保存">
    </form>
    <img src="{% url 'rikumane_app:profile' %}" width=600 height=600>
  </div>
</form>
{% endblock %}
</html>